useDynLib(scDDboost,.registration = TRUE)
import(RcppEigen)
import(BiocParallel)
import(SingleCellExperiment)
import(ellipsis)
import(vctrs)
importFrom(mclust,adjustedRandIndex)
importFrom(Oscope,CalcMV)
importFrom(cluster, pam)
importFrom(EBSeq,MedianNorm)
importFrom(Rcpp, evalCpp)
importFrom(stats,dist,cor,sd,nlminb,rgamma)
importFrom(SummarizedExperiment,assays)
importFrom("methods", "is")
export(pdd,calD,detK,getDD,getSizeofDD,pat,extractInfo)