useDynLib(scDDboost)
import(RcppEigen)
import(BiocParallel)
import(EBSeq)
import(SingleCellExperiment)
import(cluster)
import(mclust)
import(Oscope)
importFrom(Rcpp, evalCpp)
importFrom(stats,dist,cor,sd,nlminb,rgamma)
importFrom(SummarizedExperiment,assays)
importFrom(stats)
importFrom("methods", "is")
export(PDD,cal_D,detK,lsz,listsize,pat,extractInfo)